@page
@model c05_SpaSmart.Pages.Admin.KyThuatVien.CreateModel
@using c05_SpaSmart.Models.Enums

@{
    ViewData["Title"] = "Thêm KTV";
}

<h2>Thêm Kỹ Thuật Viên Mới</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="KyThuatVien.HoTen" class="form-label">Họ và Tên</label>
                <input asp-for="KyThuatVien.HoTen" class="form-control" />
                <span asp-validation-for="KyThuatVien.HoTen" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="KyThuatVien.ChuyenMon" class="form-label">Chuyên môn</label>
                <input asp-for="KyThuatVien.ChuyenMon" class="form-control" />
                <span asp-validation-for="KyThuatVien.ChuyenMon" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="KyThuatVien.TrangThaiKTV" class="form-label">Trạng thái hiện tại</label>
                <select asp-for="KyThuatVien.TrangThaiKTV" class="form-select" asp-items="Html.GetEnumSelectList<TrangThaiKTV>()"></select>
                <span asp-validation-for="KyThuatVien.TrangThaiKTV" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Lưu Dữ Liệu" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Quay lại</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
