@page
@model c05_SpaSmart.Pages.Admin.KyThuatVien.DeleteModel

@{
    ViewData["Title"] = "Xóa KTV";
}

<h2>Xóa Kỹ Thuật Viên</h2>

<h4 class="text-danger">Bạn có chắc chắn muốn xóa nhân sự này?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Họ và Tên</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.KyThuatVien.HoTen)</dd>
        
        <dt class="col-sm-3">Chuyên môn</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.KyThuatVien.ChuyenMon)</dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="KyThuatVien.Id" />
        <input type="submit" value="Xác nhận Xóa" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-secondary">Hủy bỏ</a>
    </form>
</div>
