@page
@model c05_SpaSmart.Pages.PhieuChi.CreateModel
@{
    ViewData["Title"] = "Tạo Phiếu Chi";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Tạo Phiếu Chi Mới</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post">
                <div class="form-group">
                    <label asp-for="PhieuChi.LyDoChi" class="control-label">Lý do chi</label>
                    <textarea asp-for="PhieuChi.LyDoChi" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="PhieuChi.LyDoChi" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="PhieuChi.NguoiChi" class="control-label">Người thực hiện</label>
                        <input asp-for="PhieuChi.NguoiChi" class="form-control" />
                        <span asp-validation-for="PhieuChi.NguoiChi" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="PhieuChi.SoTien" class="control-label">Số Tiền (VNĐ)</label>
                        <input asp-for="PhieuChi.SoTien" class="form-control" type="number" />
                        <span asp-validation-for="PhieuChi.SoTien" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="form-group mt-3">
                    <input type="submit" value="Lưu Phiếu Chi" class="btn btn-danger" />
                    <a asp-page="Index" class="btn btn-secondary">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>
